.HomePage {
  color: #f7f7f2;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;

  .HomePage_inner {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
  }

  h1,
  h2 {
    color: #b6c0ab;
    text-align: center;
  }

  h3 {
    color: #b6c0ab;
    text-align: left;
  }

  img {
    width: 100%;
  }
}
