.HomePage {
  color: #f7f7f2;
  text-align: center;
  margin-top: 30px;

  .HomePage_inner {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
  }

  h1 {
    color: #899878;
    text-align: center;
  }
}
